Options +FollowSymLinks -MultiViews

RewriteEngine On
RewriteBase /reactPhpBlogTemplate/api/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) routing.php [QSA,L]